<div class="header-bgc">
  <%= render 'layouts/header' %>
</div>
<div class="container">
  <div class="row my-4">
    <div class="text-start">
      <%= link_to "予定を作成する", new_schedule_path, class:"btn btn-success" %>
      <%= link_to "振り返りを作成する", new_look_back_path, class:"btn btn-success" %>
    </div>
    <div class="text-end">
      <%= link_to "月", schedules_month_index_path, class:"btn btn-primary text-white" %>
      <%= link_to "週", schedules_week_index_path, class:"btn btn-primary text-white" %>
    </div>
  </div>

  <div id="events_calendar">
    <%= render 'public/schedules/month_calendar', schedules: @schedules, look_backs: @look_backs %>
  </div>

</div>