<div class="header-bgc">
  <%= render 'layouts/header' %>
</div>
<div class="container">
  <div class="row justify-content-center my-4">
    <div class="card col-8">
      <div class="card-body">
        <div class="card-text">
          <div class="text-center">
            <h5>中目標</h5>
            <h2><%= @medium_goal.medium_goal_content %></h2>
          </div>
          <div class="d-flex">
            いつまで：
            <h4><%= @medium_goal.medium_goal_when %></h4>
          </div>
          <div>
            具体的なアクション</br>
            <%= @medium_goal.medium_goal_action %>
          </div>
          <div class="my-3">
            目標設定した理由</br>
            <%= @medium_goal.medium_goal_why %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

