<div class="header-bgc">
  <%= render 'layouts/header' %>
</div>
<div class="container" id="mainfield">
  <div class="row justify-content-center my-4">
    <div class="card col-6">
      
      <div class="form-field my-3">
        名前</br>
        <%= @inquiry.name %>
      </div>
      <div class="form-field my-3">
        メールアドレス</br>
        <%= @inquiry.email %>
      </div>
      <div class="form-field my-3">
        件名</br>
        <%= @inquiry.subject %>
      </div>
      <div class="form-field my-3">
        お問い合わせ内容</br>
        <%= @inquiry.content %>
      </div>
      
      <div class="submit my-3 text-center">
        <%= form_with model: @inquiry, url: inquiries_path, method: :post, local: true do |f| %> 
          <%= f.hidden_field :name %>
          <%= f.hidden_field :email %>
          <%= f.hidden_field :subject %>
          <%= f.hidden_field :content %>
          <%= f.submit "送信する", class:"btn btn-success" %>
        <% end %>
      </div>
      <div class="submit my-3 text-center">
        <%= form_with model: @inquiry, url: inquiries_back_path, local: true do |f| %> 
          <%= f.hidden_field :name %>
          <%= f.hidden_field :email %>
          <%= f.hidden_field :subject %>
          <%= f.hidden_field :content %>
          <%= f.submit "入力画面に戻る", class:"btn btn-success" %>
        <% end %>
      </div>
      
    </div>
  </div>
</div>
