<div class="header-bgc">
  <%= render 'layouts/header' %>
</div>
<div class="container">
  <div class="row justify-content-center my-4">
    <div class="card col-6">
    <%= render 'layouts/errors', obj: @inquiry %>
    <%= form_with model: @inquiry, url: inquiries_confirm_path, method: :post, local: true do |f| %>
      
      <div class="form-field my-3">
        <%= f.label :名前 %></br>
        <%= f.text_field :name, class:"form-control" %>
      </div>
      <div class="form-field my-3">
        <%= f.label :メールアドレス %></br>
        <%= f.text_field :email, class:"form-control" %>
      </div>
      <div class="form-field my-3">
        <%= f.label :件名 %></br>
        <%= f.text_field :subject, class:"form-control" %>
      </div>
      <div class="form-field my-3">
        <%= f.label :お問い合わせ内容 %></br>
        <%= f.text_area :content, class:"form-control" %>
      </div>
      <div class="submit my-3 text-center">
        <%= f.submit "入力内容確認", class:"btn btn-success" %>
      </div>
      
    <% end %>
    </div>
  </div>
</div>

