<!DOCTYPE html>
<html>
  <head>
    <title>Dreamer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="notice" class="bg-success text-center text-white"><%= notice %></div>
    <div id="alert" class="bg-danger text-center text-white"><%= alert %></div>
    
    <%= yield %>
  
    <%= render 'layouts/footer' %>
  </body>
</html>
